* {border: 1px grey;
}

body{
    width: 960;
    margin: 0px auto;
    background-color: gray;
}
/* the area below styles body>header */

header {
    height: 200px;
     width: 50%;
    margin: 0px auto 

}

#main-header {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

.menu {
    list-style: none;
    width: 100px;
    display: inline-block;
    text-align: center;
}

header nav {
    color: gray;
    width: 50%;
    text-align: center;
}

/* the area below styles body>main */

img { 
    height: 50%;
    width: 50%;
    border: 10px dashed rgb(138, 122, 35);
    border-radius: 50px;
}

/* img.resize { */
    /* height: 5%; */
    /* width: 5%; */
    
/* } */

/* img { */
    /* height: 5%; */
    /* width: 5% */
    /* border: 10px hsl(404, 95, 44,1) */
    
/* } */

