* {border: 1px grey;
}

body{
    width: 960;
    margin: 0px auto;
    background-color: gray;
}
/* the area below styles body>header */

header {
    height: 200px;
     width: 50%;
    margin: 0px auto 

}

#main-header {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

.menu {
    list-style: none;
    width: 100px;
    display: inline-block;
}

header nav {
    color: gray;
    width: 50%;
}

/* the area below styles body>main */

img { 
    border: 10px dashed rgb(138, 122, 35);
    border-radius: 50px;
}

img.resize {
    height: auto;
    width: auto;
    width:300px;
    height: 300px;
}


